html
  head
    title Add user
    style.
      h1 {
        margin-left: 10px;
      }

      input[type=text] {
        margin: 10px;
        width: 400px;
        height: 30px;
      }

      input[type=submit]{
        margin: 10px;
        height: 30px;
      }

  body
    include nav.pug
    br
    br
    br

    h1 Add user!
    form(method="POST" action="/createUser")
      input(type="text" name="firstname" placeholder="Firstname")
      input(type="text" name="lastname" placeholder="Lastname")
      input(type="text" name="email" placeholder="Email")

      input(type="submit" value="Add user")


